<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHC_Rebalancer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SHC_Rebalancer.Settings>
            <setting name="StrongholdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StrongholdConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="CrusaderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CrusaderConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtremePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtremeConfig" serializeAs="String">
                <value />
            </setting>
        </SHC_Rebalancer.Settings>
    </userSettings>
</configuration>