<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHC_Rebalancer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SHC_Rebalancer.Settings>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TermsAccepted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigName_aic" serializeAs="String">
                <value>stsw</value>
            </setting>
            <setting name="ConfigName_buildings" serializeAs="String">
                <value>stsw</value>
            </setting>
            <setting name="ConfigName_resources" serializeAs="String">
                <value>stsw</value>
            </setting>
            <setting name="ConfigName_units" serializeAs="String">
                <value>stsw</value>
            </setting>
            <setting name="ConfigName_skirmishtrail" serializeAs="String">
                <value>stsw</value>
            </setting>
            <setting name="ConfigName_others" serializeAs="String">
                <value>stsw</value>
            </setting>
            <setting name="ConfigName_aiv" serializeAs="String">
                <value>stsw</value>
            </setting>
        </SHC_Rebalancer.Settings>
    </userSettings>
</configuration>